docs/writeup.aux
docs/writeup.fdb_latexmk
docs/writeup.log
docs/writeup.fls
docs/writeup.pdf
docs/writeup.synctex.gz
docs/report.aux
docs/report.fdb_latexmk
docs/report.synctex.gz
docs/report.out
docs/report.log
docs/report.fls
docs/report.pdf
